@model LAB.ViewModels.productionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Production</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label class="control-label">Продукция: </label>
            <select asp-items="Model.FinProduct" name="selectedProd" value="@Model.selectedProd" class="form-control"></select>


            @if (Model.ingredients != null)
            {
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Quantity")
                        </th>
                        <th>
                            @Html.DisplayName("NameOfRaw")
                        </th>

                        <th></th>
                    </tr>


                    <tbody>
                        @foreach (var item in Model.ingredients)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raws.NameOfRaw)
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
                <label class="control-label">Сотрудник: </label>
                <select asp-items="Model.Employee" name="selectedEmp" value="@Model.selectedEmp" class="form-control"></select>
                <label class="control-label">Кол-во: </label>
                <input asp-for="Quantity" name="quan" value="@Model.Quantity" class="form-control" />
            }
            <div class="form-group">
                <input type="submit" value="Выполнить" class="btn btn-primary" />
            </div>
            @Html.DisplayFor(Model => Model.errorText)
        </form>
        </div>
 </div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
